@import url('https://fonts.googleapis.com/css2?family=Joan&family=Poppins:ital,wght@1,100;1,200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url('image2.jpg') center/cover no-repeat;
}
.wrapper{
    width: 420px;
    background: linear-gradient(145deg, white, blue);
    border-radius: 15px;
    padding: 28px 28px 45px;
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); */
    /* color: white; */
}
.wrapper header{
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    font-style: italic;
}

.wrapper header:hover {
    color: #ffcc00;
    transform: scale(1.1);
    transition: color 0.3s ease, transform 0.3s ease;
}

.wrapper .search{
    position:relative;
    margin: 35px 0 18px;
}
.search input{
    height: 53px;
    width: 100%;
    outline: none;
    font-size: 16px;
    padding: 0 42px;
    border-radius: 5px;
    border: 1px rgb(151, 138, 137);
}
.search input:focus{
    padding: 0 41px;
    border: 2px saddlebrown;
}
.search input::placeholder{
    color: rgb(39, 38, 37);
}
.search :where(i, span){
    position:absolute;
    top: 50%;
    color: rgb(151, 103, 68);
    transform: translateY(-50%);
}
.search i{
    left: 18px;
    font-size: 16px;
    pointer-events: none;
}
.search input:focus ~ i{
    color: rgb(167, 233, 12);
}
.search span{
    right: 15px;
    font-size: 18px;
    cursor: pointer;
    display: none;
}
.search input:valid ~ span{
    display: block;
}
.wrapper .info-text{
    font-size: 13px;
    color: rgb(236, 231, 216);
    margin: -3px 0 -10px;
}
.wrapper.active .info-text{
    display: none;
}
.info-text span{
    font-weight: 500;
}
.wrapper ul{
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.2s ease;  
}
.wrapper.active ul{
    height: 303px;
    opacity: 1;
}
.wrapper ul li{
    display: flex;
    align-items: center;
    margin-bottom: 14px;
    padding-bottom: 17px;
    justify-content: space-between;
    border-bottom: 1px solid rgb(26, 25, 25);
}
ul li:last-child{
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
}
ul .word p{
    font-size: 22px;
    font-weight: 500;
}
ul .word span{
    font-size: 22px;
    color: rgb(142, 139, 146);
}
ul .word i{
    cursor: pointer;
    font-size: 15px;
    color: rgb(247, 236, 241);
}
ul .content{
    max-height: 215px;
    overflow-y: auto;
}
ul .content::-webkit-scrollbar{
    width: 0px;
}
.content li .details{
    padding-left: 10px;
    border-radius: 4px 0 0 4px;
    border-left: 3px solid  rgb(63, 83, 72);
}
.content li .details p{
    font-size: 17px;
    font-weight: 500;
}
.content li .details span{
    font-size: 15px;
   color: rgb(43, 32, 16);
}
.synonyms .details .list{
    display: flex;
    flex-wrap: wrap;
}
.synonyms .details .list span{
    cursor: pointer;
    margin-right: 5px;
    text-decoration: underline;
}
